body.create-file {
    font-size: 1.0em;
    min-width: 300px;
    min-height: 100px;
    padding: 10px;
    overflow: hidden;
    --color-focus: hsl(216,100%,70%);
}

.create-file .name {
    flex: none;
}

.create-file .buttons {
    flex: none;
}

.create-file *:not(section) {
    height: 2em;
    margin: 5px 10px;
}

.create-file .buttons input[type=button] {
    width: 50%;
    border: 0px;
}
.create-file .buttons input[type=button].focus {
    background-color: var(--color-focus);
}

.create-file .name label {
    flex: none;
    vertical-align: middle;
}

.create-file .name input {
    width: 100%;
}
