.file {
    --color-file-hidden: hsl(0,0%,50%);
    --color-file-hover: rgb(229,243,255);
    --color-file-hover-unfocus: hsl(0,0%,88%);
    --color-file-selected: rgb(205,232,255);
    --color-file-selected-unfocus: transparent;
}

.file tr {
    border-top: 1px solid var(--color-file-border);
}

.file .hover {
    background-color: var(--color-file-hover-unfocus);
}

.file.focus .hover {
    background-color: var(--color-file-hover);
}

.file .selected {
    background-color: var(--color-file-selected-unfocus);
}

.file.focus .selected {
    background-color: var(--color-file-selected);
}

.file tr.focus {
    background-color: var(--color-file-hover);
}

.file .hidden-file {
    color: var(--color-file-hidden);
}
