.listview {
    --color-border-focus: rgb(123, 195, 255);
    --color-border-selected: rgb(205,232,255);
    --color-row-light: hsl(0,0%,100%);
    --color-row-dark: hsl(0,0%,94%);
    --color-header-focus: hsl(216,100%,70%);
}

.listview table {
    flex: none;
    padding: 0px;
}

.listview tr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.listview tr.focus {
    border-top-color: var(--color-border-focus);
    border-bottom-color: var(--color-border-focus);
}

.listview tr.selected {
    border-top-color: var(--color-border-selected);
    border-bottom-color: var(--color-border-selected);
}

.listview tr:nth-child(odd) {
    background-color: var(--color-row-light);
}

.listview tr:nth-child(even) {
    background-color: var(--color-row-dark);
}

.listview td {
    border-right: 2px solid var(--color-border);
    white-space: nowrap;
}

.listview .file-name {
    min-width: 40px;
    max-width: 40%;
}

.listview .file-attr {
    min-width: 120px;
    max-width: 60%;
}

.listview .header-container {
    flex: none;
    height: fit-content;
}

.listview .item,
.listview .header {
    flex: none;
    height: fit-content;
    vertical-align: middle;
    white-space: nowrap;
    cursor: default;
    color: var(--color-text-unfocus);
}

.listview.focus .item {
    color: var(--color-text);
}

.listview.focus .header {
    background-color: var(--color-header-focus);
    color: var(--color-text);
}

.listview td.item {
    padding: 0px 2px;
}

.listview .header {
    font-weight: bold;
}

.listview .header span {
    margin: 0px 2px;
    cursor: default;
}

