@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./font/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
/*  display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-font);

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-width: 640px;
    min-height: 480px;
}

table {
    border-spacing: 0px;
    border-color: var(--color-border);
    border: 0px;
}

td {
    border: 0px;
}

section, div {
    flex: auto;
}

.full-width {
    width: 100%;
}

.container-one-column {
    display: flex;
    flex-flow: column;
}

.container-one-row {
    display: flex;
    flex-flow: row;
}

.menu {
    flex: none;
    background-color: var(--color-g2);
    height: 5em;
}

.status {
    flex: none;
    height: 1.5em;
    border: 1px solid var(--color-border);
}

.window {
    overflow: hidden;
}

.scrollable {
    overflow: auto;
}

.bar {
    background-color: var(--color-g8);
    min-width: 2em;
    max-width: fit-content;
}

.bar.minimized {
    flex: none;
    max-width: 2em;
}

.file-container {
}

.file-name {
    min-width: 40px;
    max-width: 40%;
}

.file-attr {
    overflow-x: auto;
    min-width: 120px;
    max-width: 60%;
}

.item,
.header {
    flex: none;
    min-height: fit-content;
    vertical-align: middle;
    white-space: nowrap;
}

.header {
    font-weight: bold;
    cursor: hand;
}

.header span {
    cursor: hand;
    margin: 2 0px;
    word-wrap: nowrap;
}

.file-attr table {
    flex: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.fix-header tbody {
    display: block;
    overflow: auto;
    height: 100%;
}

.file-attr thead tr {
    display: block;
    width: 100%;
}

.file-attr td {
    border-right: 2px solid var(--color-border);
    white-space: nowrap;
}

.align-right {
    text-align: right;
}

.divider {
    flex: none;
    width: 2px;
    height: 100%;
    cursor: col-resize;
    background-color: var(--color-border);
    float: right;
}

.sort-icon {
    cursor: hand;
    float: right;
    padding-right: 3px;
}

.hide {
    display: none !important;
}

:root {
    /* debug use */
    --color-g1:     hsl(0,0%,98%);
    --color-g2:     hsl(0,0%,96%);
    --color-g3:     hsl(0,0%,94%);
    --color-g4:     hsl(0,0%,92%);
    --color-g5:     hsl(0,0%,90%);
    --color-g6:     hsl(0,0%,88%);
    --color-g7:     hsl(0,0%,86%);
    --color-g8:     hsl(0,0%,84%);
    --color-g9:     hsl(0,0%,82%);

    --color-font:   hsl(0,0%,0%);
    --color-border: hsl(0,0%,88%);
}
