@import url(./css/variable.css);
@import url(./css/list-view.css);
@import url(./css/file.css);
@import url(./css/svg-icon.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./font/MaterialIcons-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons Outlined'),
    local('MaterialIcons-Regular-Outlined'),
    url(./font/MaterialIcons-Outlined.woff2) format('woff2');
}

.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
/*  display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* align with text */
  vertical-align: bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-font);

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-width: 640px;
    min-height: 480px;
    -webkit-user-select: none; 
}

table {
    border-spacing: 0px;
    border-color: var(--color-border);
    border: 0px;
}

td {
    border: 0px;
}

section, div {
    flex: auto;
}

.full-width {
    width: 100%;
}

.container-one-column {
    display: flex;
    flex-flow: column;
}

.container-one-row {
    display: flex;
    flex-flow: row;
}

.menu {
    flex: none;
    background-color: var(--color-g2);
    height: 5em;
}

.status {
    flex: none;
    height: 1.5em;
    border: 1px solid var(--color-border);
}

.window {
    width:100%;
    overflow: hidden;
}

.scrollable {
    overflow: auto;
}

.x-scrollable {
    overflow-y: hidden;
    overflow-x: scroll;
}

.y-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.disable-x-scrollbars::-webkit-scrollbar {
    height: 0px;
    background: transparent;
}

.disable-y-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.bar {
    background-color: var(--color-g8);
    min-width: 2em;
    max-width: fit-content;
}

.bar.minimized {
    flex: none;
    max-width: 2em;
}

.file-container {
}

.align-right {
    text-align: right;
}

.divider {
    flex: none;
    width: 2px;
    height: 100%;
    cursor: col-resize;
    background-color: var(--color-border);
    float: right;
}

.sort-icon {
    cursor: hand;
    float: right;
    padding-right: 3px;
}

.placeholder {
    flex: none;
    background-color: transparent;
    width: 0px;
    height: 0px;
}

.invisible {
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

