* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-font);

    display: flex;
    flex-flow: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-width: 640px;
    min-height: 480px;
}

section {
    flex: auto;
    display: flex;
}

.menu {
    background-color: var(--color-g2);
    max-height: 5em;
}

.main {
    flex-flow: row;
    background-color: var(--color-g1);
}

.status {
    flex: none;
    height: 1.5em;
    border: 1px solid var(--color-border);
}

.window {
    flex-flow: row;
    background-color: var(--color-g7);
}

.bar {
    background-color: var(--color-g8);
    min-width: 2em;
    max-width: fit-content;
}

.bar.minimized {
    flex: none;
    max-width: 2em;
}

.file_container {
    display: border-box;
    overflow-y: auto;
    background-color: var(--color-g9);
}

.file_list {
    background-color: var(--color-g4);
    overflow-x: hidden;
    min-width: fit-content;
}

.file_attr {
    background-color: var(--color-g5);
    overflow-x: auto;
}

:root {
    /* debug use */
    --color-g1:     hsl(0,0%,98%);
    --color-g2:     hsl(0,0%,96%);
    --color-g3:     hsl(0,0%,94%);
    --color-g4:     hsl(0,0%,92%);
    --color-g5:     hsl(0,0%,90%);
    --color-g6:     hsl(0,0%,88%);
    --color-g7:     hsl(0,0%,86%);
    --color-g8:     hsl(0,0%,84%);
    --color-g9:     hsl(0,0%,82%);

    --color-font:   hsl(0,0%,0%);
    --color-border: hsl(0,0%,96%);
}
