
@import './variable.css';

table.fix-header {
    flex: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.fix-header tbody {
    display: block;
    overflow: auto;
    height: 100%;
}

.fix-header thead tr {
    display: block;
    width: 100%;
}

.fix-header td {
    border-right: 2px solid var(--color-border);
    white-space: nowrap;
}

