table {
    flex: none;
    padding: 0px;
}

tr:nth-child(odd) {
    background-color: var(--color-row-light);
}

tr:nth-child(even) {
    background-color: var(--color-row-dark);
}

td {
    border-right: 2px solid var(--color-border);
    white-space: nowrap;
}

.file-name {
    min-width: 40px;
    max-width: 40%;
}

.file-attr {
    min-width: 120px;
    max-width: 60%;
}

.header-container {
    flex: none;
    height: fit-content;
}

.item,
.header {
    flex: none;
    height: fit-content;
    vertical-align: middle;
    white-space: nowrap;
    cursor: default;
    color: var(--color-text-unfocus);
}

.focus .item {
    color: var(--color-text);
}

.focus .header {
    background-color: var(--color-header-focus);
    color: var(--color-text);
}

td.item {
    padding: 0px 2px;
}

.header {
    font-weight: bold;
}

.header span {
    margin: 0px 2px;
    cursor: default;
}

